body {
  background-color: rgba(102, 102, 98, 0.8);
  color: #fff;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.top_ttl {
  text-align: center;
}


/* header */

.top_logo {
  font-size: 30px;
  font-weight: bold;
}

.menu {
  display: flex;
}

.top_wrap {
  display: flex;
  justify-content: space-between;
  padding: 30px ;
  position: fixed;
  opacity: 0.8;
  background-color: rgba(53, 53, 43, 0.8);
  height: 70px;
  width: 100%;
  z-index: 50;
}

.list_item {
  padding-right: 25px;
  font-size: 20px;
}

/* maintop */



.maintop {
  background-image: url(../img/top.jpg);
  background-position: center;
  background-size: cover;
  height: 920px;
  position: relative;
  z-index: 10;
}

.mainimg {
  position: absolute;
  top: 55%;
  left: 10%;
  text-align: center;
  color: #333;
}

.top_ttl h2 {
  font-size: 30px;
  font-weight: bold;
}

.top_ttl {
  padding-bottom: 50px;
}

.top_ttl p {
  padding-top: 20px;
  font-size: 18px;
}

.box_btn {
  background-color: rgba(53, 53, 43, 0.8);
  padding: 15px 20px;
  width: 100px;
  margin: 0 auto;
}

.box_btn p {
  color: #fff;
}

/* about */

.about_ttl h2 {
  font-size: 36px;
}

.about_ttl {
  padding-top: 50px;

}

.about_wrap {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
}


.about_text {
  width: 42%;
  font-size: 20px;
  padding-left: 30px;
}

.profile {
  display: block;
  padding-left: 20px;
}

.about_text p {
  line-height: 1.7;
}

.other_wrap {
  display: flex;
  margin: 30px auto;
  justify-content: center;
}

.other_btn {
  background-color: rgba(53, 53, 43, 0.8);
  padding: 15px 20px;
  width: 100px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

/* skills */
.habilidades_contenedor {
	width: 100%;
}
h2{text-align:center;}

#codeconSkills {
  font-size: 12px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}

.codeconSkillbar {
  width: 90%;
  height: 50px;
  position: relative;
  background: rgba(17, 17, 17, .3);
  margin: 20px auto;
}
#codeconHTML {
  width: 100%;
  animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s;
  height: 50px;
  position: absolute;
  background-color: #ea8564;
}
@keyframes Animate-HTML {
from {
width: 10px;
}
to {
width: 100%}
}@-webkit-keyframes Animate-HTML {
from {
width: 10px;
}
to {
width: 100%}
}@-moz-keyframes Animate-HTML {
from {
width: 10px;
}
to {
width: 100%}
}@-o-keyframes Animate-HTML {
from {
width: 10px;
}
to {
width: 100%}
}
#codeconCSS {
  animation: Animate-CSS 5s;
  -webkit-animation: Animate-CSS 5s;
  -moz-animation: Animate-CSS 5s;
  -o-animation: Animate-CSS 5s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #55a69f;
}
@keyframes Animate-CSS {
from {
width: 10px;
}
to {
width: 70%}
}@-webkit-keyframes Animate-CSS {
from {
width: 10px;
}
to {
width: 70%}
}@-moz-keyframes Animate-CSS {
  from {
    width: 10px;
}
to {
width: 70%}
}@-o-keyframes Animate-CSS {
  from {
    width: 10px;
}
  to {
    width: 70%}
}
#codeconjQuery {
  animation: Animate-jQuery 5s;
  -webkit-animation: Animate-jQuery 5s;
  -moz-animation: Animate-jQuery 5s;
  -o-animation: Animate-jQuery 5s;
  width: 50%;
  height: 50px;
  position: absolute;
  background-color: #99856d;
}

.skillBar {
	width: 5%;
	height: 50px;
	position: absolute;
	background-color: transparent;
	transition: 3s;
	-webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
} 

@keyframes Animate-jQuery {
  from {
	  width: 10px;
  }
  to {
    width: 50%
  }
}
@-webkit-keyframes Animate-jQuery {
	from {
		width: 10px;
	}
	to {
		width: 50%
	}
}
@-moz-keyframes Animate-jQuery {
	from {
		width: 10px;
	}
	to {
		width: 50%
	}
}
@-o-keyframes Animate-jQuery {
	from {
		width: 10px;
	}
	to {
		width: 50%
	}
}
#codeconCakePHP {
	animation: Animate-CakePHP 5s;
	/*-webkit-animation: Animate-jQuery 5s;
	-moz-animation: Animate-jQuery 5s;
	-o-animation: Animate-jQuery 5s;*/
	width: 60%;
	height: 50px;
	position: absolute;
	background-color: #2f96b4;
}

@keyframes Animate-CakePHP {
  from {
	  width: 10px;
  }
  to {
	  width: 60%
	}
}


.codeconSkillArea {
z-index: 1;
float: left;
/* position: absolute; */
margin-top: 15px;
margin-left: 15px;
text-shadow: none;
color: #333;
/* font-family: Lato-Regular, sans-serif; */
font-size: 16px;
}
.PercentText {
z-index: 3;
position: relative;
padding-right: 15px;
margin-top: 15px;
float: right;
text-shadow: none;
color: #333;
/* font-family: Lato-Regular, sans-serif; */
font-size: 16px;
}


/* contact */

.contact {
  background-color: #fff;
  color: #333;
  /* display: none; */
}

.contact_ttl {
  padding-top: 50px;
}

.contact_ttl h2 {
  font-size: 36px;
}

.conatct_ttl p {
  font-size: 18px;
}

.form_text, .form_item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form_item {
  width: 500px;
  margin-bottom: 20px;
}

input {
  height: 40px;
}

label {
  margin-bottom: 10px;

}


.submit {
  width: 150px;
  margin: 30px auto;
  background-color: rgba(53, 53, 43, 0.8);
  color: #fff;
  padding: 10px;
}

.submit:hover {
  color: #fff;
  background-color: rgba(119, 119, 112, 0.8);
  border-color: #eee;
}

/* footer */

.foot_sns {
  display: flex;
  justify-content: center;
}

.foot_item {
  padding: 30px 20px; 
}

.foot_text {
  text-align: center;
  margin-top: 10px;
}

/* service */

.service {
  background-color: #fff;
  color:  rgba(102, 102, 98, 0.8);
}

.service_wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 450px;
}

.skils_box {
  width: 50%;
  text-align: center;
  padding: 30px;
}

.s_item {
  margin: 0 auto;
}

.skils_box h3 {
  font-size: 25px;
  padding: 15px 0;
}

.skils_box p {
  font-size: 20px;
  line-height: 1.5;
}

.service_ttl {
  font-size: 36px;
  text-align: center;
  padding: 50px;
}

.hover_item {
  display: none;
}

.text_active {
  display: block;
}

/* works */

.works {
  margin: 0 auto 50px;
}

.work_box img {
  width: 500px;
  height: 350px;
}

.work_box {
  margin: 50px auto 20px;
}

.works_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.works_ttl h2 {
  font-size: 36px;
  text-align: center;
}

.works_ttl {
  padding: 50px;
}

.modal_btn {
  cursor: pointer;
}

/* modal */
.works_modal_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(117, 117, 114, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(201, 201, 198, 0.6);
  padding: 20px 0 40px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.modal img {
  width: 200px;
  height: 800px;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 30px;
  color: #fff;
  cursor: pointer;
}

#page_top{
  width: 70px;
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #333;
  opacity: 0.6;
  border-radius: 50px;
}
#page_top a{
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}